body{
	font-family: "Gugi", sans-serif;
}

table {
	margin-bottom: 50px;
}

.table1 {
	float: left;
	border: 1px solid black;
	border-collapse: separate;
	border-spacing: 20px 10px;
}

.table2 {
	float:right;
	border: 2px dashed purple;
	border-collapse: separate;
	border-spacing: 20px 10px;
}

td {
	border: 1px dotted blueviolet;
	padding: 10px;
	text-align: center;
}